#main1{
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px black;
  padding: 30px;
  padding-left: 40px;
  width: 600px;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 100px;
  float: right;
  margin-right: 320px;
}
#iniciar{
  width: 500px;
  margin-top: 20px;
}

.inputs{
  width: 500px;
  margin-top: 20px;
}
#titulo{
  text-align: left;
  margin-top: 30px;
}
#bienvenido{
  text-align: left;
}

.links-header-indx{
  margin-left: 500px;
  color: white;
}

.img-social{
  margin: 10px;
}

#ig-img{
  margin-left: 850px;
}

.titulo-home{
  text-decoration: none;
  color: white;
}

#main-index{
  background-image: url(/images/estadio.jpeg);
  height: 808px;
}
.fondo-index{
  height: 700px;
  margin-left: 200px;
  margin-top: 50px;
}
.fondo2-index{
  display: inline;
  position:fixed;
  opacity: .6;
  background-color: rgba(0, 0, 0, 0.027);
}

