#body-main{
    background-image: url(/images/estadio.jpeg);
    height: 1840px;
}
#div-big{
    background-color: white;
    width: 1200px;
    margin: auto;
}
#headerlogin{
    background-color: black;
    color: white;
    padding: 20px 290px;
    padding-right: 1px;
    width: 100%;
}

.links-header{
    margin: 80px;
    color: white;
    text-decoration: none;
}

#titulo-header{
    display: inline;
    margin-right: 70px;
}

#div-principal{
    margin: auto;
    width: 700px;
    padding-top: 20px;
}
#imagen-main{
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
}

#titulo-imagen{
    font-size: 30px;
    margin: 0;
    margin-bottom: 7px;
}
.links-header:hover{
    text-decoration: underline;
}

.card-group{
    margin-bottom: 70px;
}
#titulo-equipos{
    font-size: 30px;
    margin: 0;
    margin-bottom: 7px;
    margin-left: 410px;
    margin-top: 20px;
}
#quit-header{
    margin-left: 130px;
}
#salir-login{
    margin-left: 0px;
}
#salir-login:hover{
    color: rgb(247, 80, 80);
}

.partidos-prox{
    width: 750px;
    margin: auto;
}
#div-main-2{
    margin: auto;
    width: 700px;
    padding-top: 20px;
}
